// * {
//   outline: 1px solid lightseagreen;
// }
::selection {
  background: #e64b4b;
}
body {
  box-sizing: border-box;
  background: #f7f7ee;
  color: #383844;
}

ul {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  color: #383844;
  font-family: 'Montserrat', sans-serif;
}
a:hover {
  color: #383844;
  text-decoration: none;
  transition: 0.3s;
}

.underline {
  border-bottom: 1px solid #383844;
}

/* ----- page set ----- */
.row {
  text-align: center;
  margin: 60px 140px;
}
@media (max-width: 576px) {
  .row {
    margin: 60px 20px;
  }
}

/* ----- only for this page ----- */
.style-container {
  margin: 0;
}
.style-row {
  margin: 0 140px;
  padding: 0;
}

/* ----- nav bar -----*/
.nav-bar {
  width: 100%;
  height: 120px;
  background-color: #f7f7ee;
  text-align: center;
  box-shadow: 0px 3px 8px -5px #38384455;
  padding: 10px 140px;
  margin: 0;
  z-index: 999;
}
@media (max-width: 768px) {
  .nav-bar {
    padding: 20px 20px;
  }
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-logo {
  height: 36px;
  // margin-top: -5px;
}
.nav-logo:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.nav-member-act {
  margin-top: 5px;
}
.nav-bar-bottom > ul > li > a {
  position: relative;
}
.nav-bar-bottom > ul > li > a:hover {
  font-weight: 500;
  transition: 0.3s;
}
.nav-bar-bottom > ul > li > a:after {
  /* background: none repeat scroll 0 0 transparent; */
  bottom: 3;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #383844;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-bar-bottom > ul > li > a:hover:after {
  width: 100%;
  left: 0;
}
.nav-member-act > div a:hover {
  color: #38384470;
  transition: 0.2s;
}

/* .nav-product {
    display: none;
    position: absolute;
    top: 120px;
    z-index: 98;
    width: 100%;
    height: 60px;
    background-color: #f7f7eecc;
  }
  .nav-product a {
    font-size: 16px;
  }
  .nav-product-box {
    margin: 20px 140px;
  }
  .nav-product-show {
    display: block;
  } */

/* ----- breadcrumb search-bar  -----*/
.top-line {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 120px;
  padding: 25px 20px;
}
.bread-bar {
  padding: 10px;
}
.bread a,
p {
  font-size: 16px;
  margin-right: 10px;
}
.bread a:hover {
  color: #e64b4b;
}
.search-box {
  position: relative;
}
.search-box:hover {
}
.search-box:hover .search-input {
}
.search-box:hover .search-button {
}
.search-input {
  width: 250px;
  height: 38px;
  position: absolute;
  right: 0;
  border-radius: 20px;
  border: 1px solid #383844;
  background-color: rgba(255, 255, 255, 0.4);
  color: #383844;
  font-size: 16px;
  padding-left: 20px;
}
.search-button {
  position: absolute;
  right: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #383844;
  background-color: #f7f7ee;
  color: #383844;
}
.search-button:hover {
  background-color: #383844;
  color: #f7f7ee;
  transition: 0.2s;
}

/* ----- title ----- */
.style-container {
  margin-top: 0px;
}

/* ----- logo ----- */
.logo-header {
  height: 160px;
}
.logo-nav {
  height: 36px;
}
.logo-footer {
  height: 130px;
}
/* ----- colors ----- */
.colors {
  margin: 0;
  padding: 0 60px;
}
.color-box {
  width: 120px;
  height: 80px;
  border: 1px solid #383844;
}
.cb1 {
  background-color: #f7f7ee;
}
.cb2 {
  background-color: #fdd2bb;
}
.cb3 {
  background-color: #383844;
}
.cb4 {
  background-color: #ffffff;
}
.cb5 {
  background-color: #e64b4b;
}

/* ----- typography ----- */
h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
}
.h2-tc {
  font-family: 'Noto Serif TC', serif;
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
}
.h3-tc {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
}

h4 {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
}
.h4-tc {
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
  font-size: 30px;
}

h5 {
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
}
.h5-tc {
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
  font-size: 20px;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.h6-tc {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.p-tc {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
}

span {
  font-family: 'DM Serif Display', serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}
.span-tc {
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
  font-size: 22px;
}

/* ----- button ----- */
.bg-green {
  width: 100%;
  background-color: #f7f7ee;
}
.bg-pink {
  width: 100%;
  background-color: #fdd2bb;
}

.btn-soft-green {
  width: 200px;
  height: 42px;
  line-height: 42px;
  border-radius: 2rem;
  border: none;
  background: #f7f7ee;
  box-shadow: 6px 6px 16px #e3e3db, -6px -6px 16px #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  transition: 1s;
}
.btn-soft-green:hover {
  box-shadow: inset 6px 6px 16px #e3e3db, inset -6px -6px 16px #ffffff;
}
.btn-soft-green-s {
  width: 160px;
  height: 36px;
  line-height: 36px;
  border-radius: 2rem;
  border: none;
  background: #f7f7ee;
  box-shadow: 6px 6px 16px #e3e3db, -6px -6px 16px #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  transition: 1s;
}
.btn-soft-green-s:hover {
  box-shadow: inset 6px 6px 16px #e3e3db, inset -6px -6px 16px #ffffff;
}

.btn-soft-pink {
  width: 200px;
  height: 42px;
  line-height: 42px;
  border-radius: 2rem;
  border: none;
  background: #fdd2bb;
  box-shadow: 6px 6px 16px #e9c1ac, -6px -6px 16px #f7f7eecc;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease;
}
.btn-soft-pink:hover {
  box-shadow: inset 6px 6px 16px #e9c1ac, inset -6px -6px 16px #f7f7ee91;
  /* transition: all 0.3s ease; */
}
.btn-soft-pink-s {
  width: 160px;
  height: 36px;
  line-height: 36px;
  border-radius: 2rem;
  border: none;
  background: #fdd2bb;
  box-shadow: 6px 6px 16px #e9c1ac, -6px -6px 16px #f7f7eecc;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease;
}
.btn-soft-pink-s:hover {
  box-shadow: inset 6px 6px 16px #e9c1ac, inset -6px -6px 16px #f7f7ee91;
  /* transition: all 0.3s ease; */
}
.btn-border {
  width: 200px;
  height: 42px;
  line-height: 42px;
  border-radius: 2rem;
  background: none;
  border: 1px solid #383844;
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.btn-border:hover {
  transition: 0.3s;
  background-color: #383844;
  color: #f7f7ee;
}
.btn-border:hover a {
  color: #f7f7ee;
}
.btn-border-l {
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-radius: 2rem;
  background: none;
  border: 1px solid #383844;
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.btn-border-l:hover {
  transition: 0.3s;
  background-color: #383844;
  color: #f7f7ee;
}
.btn-border-l:hover a {
  color: #f7f7ee;
}
.btn-border-s {
  width: 160px;
  height: 36px;
  line-height: 36px;
  border-radius: 2rem;
  background: none;
  border: 1px solid #383844;
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.btn-border-s:hover {
  transition: 0.3s;
  background-color: #383844;
  color: #f7f7ee;
}
.btn-border-s:hover a {
  color: #f7f7ee;
}
.btn-more {
  width: 120px;
  height: 40px;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #383844;
  opacity: 1;
}
.btn-more:hover {
  transition: 0.2s;
  opacity: 0.6;
}

.btn-read {
  width: 70px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 2px 5px;
  background: none;
  color: #383844;
  border: 1px solid #383844;
}
.btn-read:hover {
  transition: 0.2s;
  background: #383844;
  color: #f7f7ee;
}
.btn-read:hover a {
  color: #f7f7ee;
}
.btn-tag {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  background: none;
  border: none;
  opacity: 1;
}
.btn-tag:hover {
  transition: 0.2s;
  opacity: 0.6;
}
/* ----- component ----- */

/* ----- gradient ----- */
.gradient-basic {
  width: 100%;
  height: 200px;
  background: linear-gradient(#f7f7ee, #fdd2bb);
}
.gradient-move {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, #f7f7ee, #fdd2bb);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* ----- card ----- */
.card1 {
  width: 100%;
  height: 100px;
  background: #ffffff;
}
.card2 {
  width: 100%;
  height: 100px;
  background: #ffffff;
  border-radius: 20px;
}
/* ----- form ----- */

/* ----- footer ----- */

.footer-box {
  width: 100%;
  background: linear-gradient(#f7f7ee, #fdd2bb);
  padding: 60px;
}
.footer-logo {
  height: 130px;
}
.footer-logo:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.footer-sns {
  font-size: 22px;
}
.footer-sns a:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.footer-copyright {
  margin-top: 40px;
}
